kind: PersistentVolume
apiVersion: v1
metadata:
  name: es-pv-volume
  labels:
    type: local
spec:
  capacity:
    storage: {{ volume_size }}
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ host_data_path }}"